{{page-title (t "home.title")}}

<BsCarousel
  @autoPlay={{true}}
  @wrap={{true}}
  @index={{0}}
  @interval={{5000}}
  @keyboard={{true}}
  @ltr={{true}}
  @pauseOnMouseEnter={{true}}
  @showControls={{true}}
  @showIndicators={{true}}
  as |car|>
  {{#each this.slides as |slide|}}
    <car.slide>
      <img alt={{slide.alt}} src={{slide.src}} style="max-width: 100%;">
    </car.slide>
  {{/each}}
</BsCarousel>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>